<!DOCTYPE html>
<html lang="en">
<head>
    <link rel ="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.jpeg"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title> /* Change  */
</head>
<body>
    <dev class="main-content">
   {{>header}}
   <p>This Site was created by Mohamed Sadiq. It uses data from mapbox.com & Weatherstack.com </p>
    <p1> {{title}} </p1>
        <img class= "portrait" src = "/img/me.jpg" >

    </dev>

    {{!-- {{  to access the header just use > and the file name }} --}}

    {{>footer}} 
    
</body>
</html>